<div class="container">
  <div class="row">
    <div class="col-md-9">
  	  <table class="user-index">
  	  	<thead>
  	  	  <h2>Users</h2>
  	  	</thead>
  	  	<tbody>
  	  	  <%= @users.each do |user| %>
	  	  	<tr>
	  	  	  <td><%= attachment_image_tag @user, :profile_image, :fill, 20, 20, fallback: "no_image.jpg"%></td>
	  	  	  <td><%= @user.namge %></td>>
	  	  	  <th><%= link_to "Show", user_path(user.id) %></th>
	  	  	</tr>
  	  	  <% end %>
  	  	</tbody>
  	  </table>
  	</div>
  </div>