<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/user', user: @user %>
      <%= render 'books/book', book: @book %>
    </div>
    <div class="col-md-9">
      <table class="table book-index">
        <h2>Books</h2>
      	  <thead>
      	    <th>Title</th>
      	  </thead>
      	  <tbody>
            <tr>
      	      <% @books.each do |book| %>
                <td><%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg"%></td>
        	      <th><span><%= link_to book.title, book_path(@book) %></span></th>
              <% end %>
      	    </tr>
      	</tbody>
      </table>
    </div>
  </div>
</div>